@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-img {
  background-image: url(assets/img/illustrated-profile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 200px;
  width: 150px;
  height: 150px;
}